header {
  background-color: #85abda;
}

h1 {
  font-family: Times, serif;
}

#Taylor_Griggs{
  border: 1px solid black;
  width: 90px;
  height: 70px;
  padding: 10px;
  margin: 10px;
  background-color: #cdd4dd;
}

nav {
  font-family: Times, serif;
  text-align: center;
}

a[href] {
  font-weight: bold;
}

nav ul li {
  float: left;
  border: 1px solid black;
  list-style-type: none;
  overflow: hidden;
  background-color: #cdd4dd;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #E5E8E8;
}

main {
  background-color: #cdd4dd;
  font-family: Arial, sans-serif;
  text-align: center;
}

section {
  background-color: #cdd4dd;
}

form {
  background-color: #cdd4dd;
  line-height: 2;
}

p::selection {
  background-color: white;
  color: hotpink;
}

h2::selection {
  background-color: white;
  color: hotpink;
}

#main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  gap: 50px;
  padding-left: 300px;
}

#main_second{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  gap: 50px;
}

#uk{
  font-style:italic;
}

#uky{
  font-style: italic;
}

#picture1{
  border: 5px solid black;
}

#phone{
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
}

#resume_download{
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
}

#myemail{
  font-weight: bold;
  border: 1px solid black;
  text-align: center
}

#copyright{
  font-size: 0.7rem
}

footer{
  background-color: #85abda;
  font-family: Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
